h1{
    text-align: center;
}
body{
    background-color:blueviolet;
    font-family: monospace;
    color: white
}

.main{
    text-align: center;
}

input{
    border: none;
    height: 50px;
    display: inline-block;
    width:800px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    border-radius: 5px; 
    font-family: monospace;
    outline: none;
}

.gifInput{
    text-align: center;
    color: black
}

.gifsContainer{
    text-align: center;
    padding: 50px;
    color: white;
    width: 100%;
    margin: 20px;
    background-color: gold;
    padding: 10px;
    font-family: Arial;
    justify-content: center;
    border-radius: 10px;
}
