h1 {
  text-align: center;
}
body {
  background-color: blueviolet;
  font-family: monospace;
  color: white;
  margin: 0;
}

.gifInput {
  display: flex;
  width: 50%;
}

input {
  border: none;
  height: 50px;
  display: inline-block;
  width: 800px;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  border-radius: 5px;
  font-family: monospace;
  outline: none;
}

.gifInput {
  text-align: center;
  color: black;
}

.gifsContainer {
  text-align: center;
  padding: 50px;
  display: flex;
  color: white;
  width: 100%;
  margin: 20px;
  background-color: gold;
  padding: 10px;
  font-family: Arial;
  justify-content: center;
  border-radius: 10px;
}

.sliderStyles {
  height: 100%;
  position: "relative";
}

.sliderContainer {
  height: 100%;
  position: relative;
}

.leftArrowStyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: "#fff";
  z-index: 1;
  cursor: "pointer";
}

.rightArrowStyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: "#fff";
  z-index: 1;
  cursor: "pointer";
}
